body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #313435;
}

.main-container {
    min-height: 700px;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding-bottom: 9px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 9px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    margin-top: 90px;
}

.jumbotron {
    margin-top: 40px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/* Default chart container */
#container {
    width: 100%;
}



#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}